<!DOCTYPE html>
<htm lang='es'>
<head>
		<meta charset='utf-8'>
		<title> Mejorandola - {% block titulo %} {% endblock %} </title>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
		<link rel="shortcut icon" type="text/css" href="{{STATIC_URL}}img/icono.png">
		<style type="text/css">
			{% block style_css %} {% endblock %}
		</style>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script src='{{STATIC_URL}}js/demo.js'></script>		
</head>
<body>
	<header>
		{% block encabezado %} {% endblock %}
		<nav>
			<ul id='menu'>
				<li><a href='/'>Inicio</a></li>
				<li><a href='/cursos'>Cursos </a></li>
				<li><a href='/cuestionarios'>Cuestionarios</a></li>
				<li><a href='/grupos'>Grupos</a></li>
				<li><a href='/sobre'>Sobre</a></li>
				<li><a href='/contacto'>Contactanos</a></li>
			</ul>
		</nav>
	</header>
	<section class='contenido'>
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<p> Mejorandola &copy;2012 </p>
	</footer>
</body>
</html>
