{% extends 'base.html' %}

{% block titulo %} Cursos {% endblock %}
{% comment %} usuarios {% endcomment %}

{% block style_css %}

{% endblock%}

{% block encabezado %}
	<h1> Nuestros cursos </h1>
{% endblock %}

{% block contenido %}
	<a href="/cursos/nuevo">Agregar curso</a>
	<ul>
		{% for dato in datos %}
		<li>
			<a href="{% url principal.views.curso dato.curso_id %}">  {{dato.nombre_curso}} </a>				
		</li>
		{% empty %}
		<li> No hay recetas registradas </li>
		{% endfor %}
	</ul>	
{% endblock %}	
